
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "montseratt";
 
    background: linear-gradient(to right, #005aa7, #c5c4b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;

  text-align: left;
  border-radius: 20px;
  padding-bottom: 32px;
  border: 2px solid #afe4d9;
  box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.507);
  
 }

 .mellanrum{
   
   margin: 50px;
 }

 .mellanrum1{
   
  margin: 80px;
}

 .text{
   margin-left: 20px;
   font-size: 40px;
  font-weight: 80;
  
 }

 

main {
  padding: 30px;

}

.search-box{
  width: 100%;
  margin: 0 0 75px;
  
}



.search-box .search-bar {
  display: flex;
  width: 100%;
  padding: 15px;



  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -30px;

  box-shadow: 0px 5px rgba(12, 12, 12, 0.685);
  
  
  color: #f1f1f1;
  font-size: 30px;
  
}



.location-box .location{
  color: rgb(233, 218, 218);
  margin-top: -70px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: rgb(233, 218, 218);
  font-size: 35px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.location-box .time{
  color: rgb(233, 218, 218);
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 20px auto;
  background-color:rgba(255, 255, 255, 0.2) ;
  border-radius: 16px;

  color: #FFF;

  padding: 15px 30px;
  font-size: 102px;
  font-weight: 900;

  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .temp1{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  background-color:rgba(255, 255, 255, 0.2) ;
  border-radius: 16px;

  color: #FFF;

  padding: 15px 30px;
  font-size: 70px;
  font-weight: 700;

  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .mellantemp{
  font-size: 100px;
  margin-right: 20px;
}

.weather-box .temp2{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  background-color:rgba(255, 255, 255, 0.2) ;
  border-radius: 16px;

  color: #FFF;

  padding: 15px 30px;
  font-size: 70px;
  font-weight: 700;

  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather{
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

